<mat-card>
  <mat-card-title>Siddhesh Tripathi</mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td class="column-title"><mat-icon>email</mat-icon></td>
        <td>:siddesht450@gmail.com</td>
      </tr>
      <tr>
        <td class="column-title"><mat-icon> contact_phone</mat-icon></td>
        <td>:8917060988</td>
      </tr>
      <tr>
        <td class="column-title"><mat-icon> message</mat-icon></td>
        <td>:8917060988</td>
      </tr>
      <tr>
        <td class="column-title">Github</td>
        <td>
          <a href="https://github.com/sid0145" target="_blank">:My Github </a>
        </td>
      </tr>
      <tr>
        <td class="column-title">LinkedIn</td>
        <td>
          <a
            href="https://www.linkedin.com/in/siddhesh-tripathi-cse/"
            target="_blank"
            >:(Follow me on ) My LinkedIn
          </a>
        </td>
      </tr>
      <tr>
        <td class="column-title">Instagram</td>
        <td>
          <a
            href=" https://www.instagram.com/tripathi_siddhesh/"
            target="_blank"
            >:(Follow me on) My Instagram
          </a>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
